body {
    margin: 0;
    font: 400 12px "Open Sans", sans-serif;
    text-rendering: optimizeLegibility;
}

section {
    padding: 20px;
    max-width: 540px;
    width: 100%;
    margin: 0 auto;
}

h1 {
    font-size: 18px;
    font-weight: 400;
    margin: 50px 0 25px -1px;
}

#dots {
    line-height: 8px;
}
.dot {
    display: inline-block;
    width: 5px;
    height: 5px;
    border-radius: 4px;
    margin: 0 10px 11px 0;
}
.dot[data-up=true] {
    background: #CCC;
}
.dot[data-up=false] {
    background: #D00;
    box-shadow: 0 1px 3px #D88;
}